USE [master]
GO
/****** Object:  Database [axosnet]    Script Date: 18/02/2022 08:44:41 a. m. ******/
CREATE DATABASE [axosnet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'axosnet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\axosnet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'axosnet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\axosnet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [axosnet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [axosnet]
GO
/****** Object:  Table [dbo].[recibos_]    Script Date: 18/02/2022 08:44:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recibos_](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[proveedor] [varchar](50) NOT NULL,
	[Monto] [int] NOT NULL,
	[Moneda] [varchar](50) NOT NULL,
	[Fecha] [varchar](50) NOT NULL,
	[Comentario] [varchar](50) NOT NULL,
	[id_usuario] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 18/02/2022 08:44:41 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[apellido_paterno] [varchar](20) NOT NULL,
	[apellido_materno] [varchar](20) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[recibos_]  WITH CHECK ADD  CONSTRAINT [FK_recibos__usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[recibos_] CHECK CONSTRAINT [FK_recibos__usuarios]
GO
USE [master]
GO
